@page "/"
@page "/home"

@using WordleGuesser
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.
@code{
	override protected async Task OnInitializedAsync()
	{
		
		await base.OnInitializedAsync();
	}
}
