@page "/"
@page "/home"

@using WordleGuesser
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>About Me:</h1>
I am a full stack developer with a passion for building web applications,
creating simple algorithims, game development, and learning new technologies.


@code{
	override protected async Task OnInitializedAsync()
	{
		
		await base.OnInitializedAsync();
	}
}
