@page "/other-projects"
<h3>Other Projects</h3>

<h4>Wordle solve Algorithim:</h4>
<div>Algorthim to solve the daily wordle, this page also allows you to play
	the daily wordle before it shows you how my algorithm solved it</div>
<br/>
Or checkout my github linked below
@code {

}
